@import model.IRATransaction
@(message: String, transactions: List[IRATransaction])

    @main(message) {

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        All the transactions for 401
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover" id="IRATransactions">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Investment</th>
                                <th>Amount</th>
                                <th>Shares</th>
                                <th>TransactionType</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(t <- transactions) {
                            <tr>
                                <td>@t.runDate.get</td>
                                <td>@t.symbol</td>
                                <td> @t.amount</td>
                                <td> @t.quantity</td>
                                <td>@t.action</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <script>
            $( document ).ready(function() {
                $('#IRATransactions').DataTable();
            });
    </script>
    }